


	.corey_style{
		background-color: #CCFFCC;
		font-family:"lucida Sans Unicode", "Lucida Grande", sans-serif;
		float:left;
		height:400px;
		width:400px;
		padding:15px;
		border: 4px double #696969;
	}
